<div class="{{ template }}">
    {% for stat in stats %}
        {% if stat.type == 'header' %}
            <h2>{{ stat.label }}</h2>
        {% elseif stat.type == 'addendum' %}
	        <p><em>{{ stat.label }}</em></p>
        {% elseif stat.type == 'spacer' %}
            <div class="stat-spacer"></div>
        {% else %}
            <div class="stat-wrapper">
                <div class="stat">{{ stat.stat }}</div>
                <div class="label">{{ stat.label }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="fl-clear"></div>
