SITE MASTHEAD M21
<div id="masthead" class="site-banner outer-container {{ header_image ? 'has-header-img' }}" >
    <div class="inner-container">

        {{ header_image }}

        <div class="header-meta">

            <div class="site-title-container">

                <a class="site-title" href="{{ site.url }}" rel="home" title="{{ __('Go to') }} {{ site.name }}">
                    {{ site.name }}
                </a>

            </div>

        </div>
    </div>
</div><!-- .site-banner -->