{% set hide_sidebar = post.get_field('hide_sidebar') or hide_sidebar %}
<!DOCTYPE html>
<html {{ site.language_attributes }} class="no-js">
<head>
    <meta charset="{{ site.charset }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="{{ site.pingback_url }}">
    {{ fn('wp_head') }}
</head>

<body class="{{ body_class }} twig-{{ page }}  {{ hide_sidebar ? 'full-width' }}">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWHWG4B"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include 'modules/svg-lib.twig' %}

<div id="page" class="site">

    <div id="page-inner"> {# necessary for sticky-footer mixin #}

        {# handled by class.bb  #}
        <header class="site-header" role="banner">
            {% do action('bb_alert') %}
            {% do action('bb_site_header') %}
        </header>
        <div id="content" class="site-content outer-container">

            <div id="content-inner" class="content-inner inner-container">

                <main id="main"
                        class="content-main
                        {{ hide_sidebar ? 'hide_sidebar' : 'has_sidebar' }}
                        {{ post.get_field('text_cols') ? 'textcols-' ~ post.get_field('text_cols') }}"
                        role="main">

                    {# start the loop #}
                    {% block content %}{% endblock %}

                </main><!-- .content-main -->

                {% if not hide_sidebar %}

                    {% include 'modules/sidebar.twig' %}
                    {% include 'modules/bb_sidebar.twig' %}

                {% endif %}

            </div><!-- .content-inner -->

        </div><!-- .site-content -->

    </div><!-- #page-inner -->

</div><!-- #page -->

{% include 'modules/site-footer.twig' %}

{{ wp_footer }}

</body>
</html>