{% extends 'base.twig' %}

    {% block content %}

        <article id="post-{{ post.ID }}" class="cf {{ fn('get_post_class') | join(' ') }} {{ post.get_field('page_style') }}">

            {% include 'modules/feature_header.twig' %}

            {% if page != 'home' and not post.get_field( 'hide_title') and not '<h1' in bb_themer_layout_content %}

                <h1 class="page-title">{{ post.post_title }}</h1>

            {% endif %}

            {% block content_widgets %}

                {{ macro.widgets(home_widgets, 'home-widgets') }}

            {% endblock %}

            {% if is_off_campus %}

                <div class="error">
                    <p>{{ __('Williams log in required to view this page.') }}</p>
                    <p>{{ fn('do_shortcode', '[login class="btn"]') }}</p>
                </div>

            {% else %}

                {% include 'modules/sharing.twig' with {'location' : 'before'} %}

                {% include 'modules/post_meta.twig' %}

                {% include 'modules/content.twig'  with {'thumbnail_size' : 'post-thumbnail'} %}

                {% include 'modules/sharing.twig' with {'location' : 'after'} %}

                {% include 'modules/post_footer.twig' with {'printfriendly' : true} %}

            {% endif %} {# end campus_only_check #}

        </article>

    {% endblock %}
