{% extends 'base.twig' %}

{% set title_hidden = (page == 'home' or post.get_field( 'hide_title')) %}

{% block content %}

    <article id="post-{{ post.ID }}" class="cf {{ fn('get_post_class') | join(' ') }} {{ post.get_field('page_style') }}">

        <h1 class="page-title{{ title_hidden ? ' visuallyhidden' }}">{{ post.post_title }}</h1>

        {% block content_widgets %}

            {% if page == 'home' %}

                {% include 'modules/widget-area.twig' with {'widgets' : home_widgets} %}

            {% endif %}

        {% endblock %}

        {% if is_off_campus %}

            <div class="error"><p>{{ __('Williams log in required to view this page.') }}</p><p>{{ fn('do_shortcode', '[login class="btn"]') }}</p></div>

        {% else %}

            {% include 'modules/content.twig' with {'thumbnail_size' : 'post-thumbnail'} %}

            {% include 'modules/post_footer.twig' with {'printfriendly' : true} %}

        {% endif %} {# end campus_only_check #}

        {% do action( 'meerloop_after_loop' ) %}

    </article>

{% endblock %}
